
body {
    background-color: #f2f2f2;
    margin-top: 2%;

}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid #666666;    
}

label {
    color: #2290c3 ;
    font-size: 79pt;
    text-align: center;
}

input[type=submit] {
    width: 80%;
    height: 70px;
    background-color: #1895cf;
    color: white;
    padding: 12px 20px;
    margin-left: 10%;
    margin-top: 70%;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    float: none;
    font-size: 30px;
}

input[type=submit]:hover {
    background-color: #8bcae7;
}


.lightWeight {
    font-weight: 300;
}

.boldWeight {
    font-weight: 800;
}

.container {
    height: 800px;
    padding: 16px;
    max-width: 600px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.signin {
    margin-top: 10px;
    background-color: #f1f1f1;
    text-align: center;
}

.row {
    margin: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

