
body {
    background-color: #f2f2f2;
    margin-top: 2%;

}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid #666666;    
}

label{
    font-weight: 800;
    color: #2290c3;
    font-size: 56pt;
    vertical-align:middle;
    text-align:center;
}

div > a {
    font-weight: 600;
    font-size: 30pt;
    color: #2290c3;
    float: left;
    text-decoration: none;
}


div > form{
    margin-top: 5em;
}
div > form > b {
    font-weight: 800;
    font-size: 30.5pt;
    color: #2290c3;
}

input[type=text] {

    margin-bottom: 5em;
    border-bottom-color: #D1D1D1;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    border-bottom:1px;
    border-style: solid;
    box-sizing: border-box


}

input[type=submit] {
    width: 80%;
    height: 70px;
    background-color: #1895cf;
    color: white;
    padding: 12px 20px;
    margin-top: 6em;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    float: none;
    font-size: 30px;
}

input[type=submit]:hover {
    background-color: #8bcae7;
}

input[type=text] {
    font-weight: 600;    
}

.lightWeight {
    font-weight: 300;
}

.boldWeight {
    font-weight: 800;
}




.signin {
    margin-top: 10px;
    background-color: #f1f1f1;
    text-align: center;
}

.row {
    margin: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.title{
    font-weight: 600;
    font-size: 24pt;
    color: #4aaee0;
}



.container {
    height: 800px;
    padding: 16px;
    max-width: 600px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #2290c3;
    text-align: center;
}

.left {
    text-align: left;
}

.song-info{    
    font-size : 40pt;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.center-msg{    
    font-size : 24pt;    
    font-weight: 400;
}

.bottom-msg{    
    font-size : 24pt;    
    margin-top : 50px;
}

.bottom-msg > b {
    font-size : 50pt;
    font-weight: 600;
}

.max-width {
    width:100%;
}

.center {
    margin-top:40%;
}




/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

