@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);

 
h1 {
  font-family: NanumSquareWeb, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NanumSquareWeb, sans-serif;
}

button{
  cursor: pointer !important;
}
a{
  text-decoration: none !important;
  cursor: pointer;
}

body {
  margin: 0;
}
#main {
  display: flex;
  min-height: calc(100vh - 40vh);
}
#main > article {
  width: 100%;
}

#main > nav {
  order: -1;
}

#main, header {
  width: calc(100% - 650px);
}


header > nav{
  border-bottom-color: #FFFFFF;
}

/*nav {*/
  /*height: 70px;*/
  /*background-color: #FFFFFF;*/
  /*padding-bottom: 2%;*/
  /**/
  /*border-bottom: 1px;*/
  /*border-style: solid;*/
  /*border-color: #FFFFFF;*/
  /*border-bottom-color: #D1D1D1;*/
/*}*/

nav > a {
  line-height: 60px;
  color: #397b9d;
  text-decoration: none;  
  font-size: 30px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  opacity: 0.3;
  padding-left: 1.8em;
  border-bottom-color: #FFFFFF;  
}
nav > a:hover {
  opacity: 1.0;  
}

nav > a.endplaylist {  
  opacity: 1.0;
}

nav > a.sortingMenu {  
  color: #4aaee0;
  font-size: 25px;
}


ul > li {
  display: inline-block;
  padding: 0 60px; 
}

li > a {
  line-height: 60px;
  color: #397b9d;
  text-decoration: none;
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  opacity: 1.0;
}

li > a:hover {
  opacity: 0.7;
}

article > ul.disable {
  opacity: 0.3;
}


article > ul > li {
  line-height: 40px;
  color: #000000;
  text-decoration: none;  
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  list-style: none;
  cursor: pointer;
  opacity: 1.0;
  padding: 0 100px; 
}

article > ul > li .btn{  
  color: #000000;  
  opacity: 1.0;
  padding: 0 20px; 
}

.date {
  font-weight: 300;
  padding-left: 1.8em;
}


.app-root {
  padding: 10px;  
}

.app-root > nav > ul > li > a:hover{
  opacity: 1.0;
}

.app-root > h1 {
  margin-bottom: 20px;
}

.time-setting {

  float: left;
  line-height: 60px;
  color: #397b9d;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  opacity: 1.0;

}

.setimg {
  float:right;
  margin: -9px;
  padding: 15px;
}

.setimg > :hover{
  opacity: 0.5;
}

/*button,*/
/*button::after {*/
  /*-webkit-transition: all 0.3s;*/
    /*-moz-transition: all 0.3s;*/
  /*-o-transition: all 0.3s;*/
    /*transition: all 0.3s;*/
/*}*/


/*button {*/
  /*background:#FF1D23;*/
  /*border: 3px solid #fff;*/
  /*border-radius: 40px;*/
  /*color: #fff;*/
  /*display: block;*/
  /*font-size: 1.6em;*/
  /*font-weight: bold;*/
  /*margin: 1em auto;*/
  /*padding: 0.5em 2em;*/
  /*position:relative;    */
  /*text-transform: uppercase;*/
  /*float: right;*/
/*}*/


input.save-btn {  
  background:#FFFFFF;
  border: 3px solid #8bcae7;
  border-radius: 40px;
  color: #8bcae7;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 0.5em 2em;
  position:relative;    
  text-transform: uppercase;
  float: right;
}



/*****************************************/
/*****************************************/
/*****************************************/


.hide{
  display: none !important;
}

.upper-nav{
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 40px;
}

.nav-text{
  font-size: 36px;
  color: #186d94;
  font-weight: 800;
  text-decoration: none;
}

.lower-nav{
  padding: 10px 75px;
}

.lower-nav button.selected{
  opacity: 1;
}
.lower-nav button{
  opacity: 0.3;
  background-color: transparent;
  border: none;
  outline: none;
  padding:0 10px;
  margin: 0 10px;
  font-weight: 600;
  cursor: pointer;
}
.lower-nav>button{
  font-size: 24px;
  color: #186d94;
}
.lower-nav-button-group{
  float: right;
}

.lower-nav-button-group>button{
  color: #4aaee0;
  font-size: 22px;
}
article{
  padding: 10px 75px;
}

.song-element{
  padding: 0 20px;
  margin: 30px 0;
}
.song-element>div{
  display: inline-block;

}
.song-element>div:first-child{
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
  width: 485px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.song-element>div:nth-child(2){
  font-size: 18px;
  font-weight: 400;
  padding: 6px 0;
  width: 150px;
  text-align: right;
}
.song-element>div:last-child{
  font-size: 20px;
  font-weight: 600;
  float: right;
}


.song-element>div:last-child>a>.refresh{
  background: url("/static/img/back.jpg") no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding-top: 3px;
}

.song-element>div:last-child>a>.search{
  background: url( "/static/img/search.jpg" ) no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.song-element>div:last-child>a>.delete{
  background: url( "/static/img/x-button.jpg" ) no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

footer{
  text-align: right;
  padding: 0 75px;
  width: 900px;
}
footer>a>button{
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background:#FF1D23;
  border-radius: 40px;
  color: #fff;
  font-size: 1.6em;
  padding: 10px 25px;
  font-weight: bold;
  float: right;
}

footer>a>button:hover{
  background:#FFFFFF;
  color:#FF1D23;
  opacity: 0.5;
}

body{
  position: relative;
}
.modal-background{
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.01);
}
.modal{
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.05);
  top:0;
  right: 0;
  padding-top: 64px;
  padding-left: 30px;
  width: 450px;
  height: 100vh;
}

.modal-close>img{width:20px;}
.modal-close{
  padding: 3px 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  font-size: 36px;
  background-color: transparent;
  border: none;
  outline: none;
}
.button-wrap{
  padding: 20px;
}
.section-title{
  color: #2290c3;
  margin: 10px 0;
  font-size: 18px;
}
.subtitle{
  font-weight: 600;
  margin: 10px 0;
  font-size: 18px;
}
.text-btn.selected{
  border: 1px solid #2290c3;
  color: #2290c3;
}
.text-btn{
  padding-top: 3px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  outline: none;
  height: 36px;
  width: 100px;
  margin-right: 15px;
  border-radius: 20px
}

.img-btn.selected{
  opacity: 1;
}
.img-btn{
  outline: none;
  opacity: 0.5;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: transparent;
}
.melon{
  background-image: url("../img/melon.jpg");
}

.genie{
  background-image: url("../img/genie.jpg");
}
.bugs{
  background-image: url("../img/bugs.jpg");
}

.save{
  position: absolute;
  width: 200px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #2290c3;
  font-size: 24px;
  font-weight: 500;
  color: #2290c3;
  bottom: 40px;
  right: 40px;
  outline: none;
  cursor: pointer;
}