* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 70px;
  background-color: #FFFFFF;
  border-bottom: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  border-bottom-color: #D1D1D1;
}

ul > li {
  display: inline-block;
  padding: 0 60px;
  
}
li > a {
  line-height: 60px;
  color: #397b9d;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  opacity: 1.0;
}

li > a:hover {
  opacity: 0.7;
}

.app-root {
  padding: 20px;  
}

.app-root > nav {
  border-color: #FFFFFF;
}

.app-root > nav > ul > li > a{
  opacity: 0.5;
}

.app-root > nav > ul > li > a:hover{
  opacity: 1.0;
}

.app-root > h1 {
  margin-bottom: 20px;
}

.setimg {
  float:right;
  margin: 15px;
}

.setimg > :hover{
  opacity: 0.5;
}

button,
button::after {
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
}


button {
  background: none;
  border: 3px solid #fff;
  border-radius: 20px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}



button{
  background:#FF1D23;
  color:#FFFFFF;
  border:none;
  position:relative;
  left: 90%;
  top: 90%;
  
  height:40px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#FFFFFF;
  color:#FF1D23;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #FF1D23;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}