@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);

 
h1 {
  font-family: NanumSquareWeb, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Square';
}


body {
  margin: 0;
}
#main {
  display: flex;
  min-height: calc(100vh - 40vh);
}
#main > article {
  flex: 1;
}

#main > nav {
  order: -1;
}

footer{  
  height: 10vh;
}    


header > nav{
  border-bottom-color: #FFFFFF;
}

nav {
  height: 70px;
  background-color: #FFFFFF;
  padding-bottom: 2%;
  
  border-bottom: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  border-bottom-color: #D1D1D1;
}

nav > a {
  line-height: 60px;
  color: #397b9d;
  text-decoration: none;  
  font-size: 30px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  opacity: 0.3;
  padding-left: 1.8em;
  border-bottom-color: #FFFFFF;  
}
nav > a:hover {
  opacity: 1.0;  
}

nav > a.endplaylist {  
  opacity: 1.0;
}

nav > a.sortingMenu {  
  color: #4aaee0;
  font-size: 25px;
}


ul > li {
  display: inline-block;
  padding: 0 60px; 
}

li > a {
  line-height: 60px;
  color: #397b9d;
  text-decoration: none;
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  opacity: 1.0;
}

li > a:hover {
  opacity: 0.7;
}

article > ul.disable {
  opacity: 0.3;
}


article > ul > li {
  line-height: 40px;
  color: #000000;
  text-decoration: none;  
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  list-style: none;
  cursor: pointer;
  opacity: 1.0;
  padding: 0 100px; 
}

article > ul > li .btn{  
  color: #000000;  
  opacity: 1.0;
  padding: 0 20px; 
}

.date {
  font-weight: 300;
  padding-left: 1.8em;
}


.app-root {
  padding: 10px;  
}

.app-root > nav > ul > li > a:hover{
  opacity: 1.0;
}

.app-root > h1 {
  margin-bottom: 20px;
}

.time-setting {

  float: left;
  line-height: 60px;
  color: #397b9d;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  opacity: 1.0;

}

.setimg {
  float:right;
  margin: 15px;
}

.setimg > :hover{
  opacity: 0.5;
}

button,
button::after {
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
}


button {
  background:#FF1D23;
  border: 3px solid #fff;
  border-radius: 40px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 0.5em 2em;
  position:relative;    
  text-transform: uppercase;
  float: right;
}

button:hover{
  background:#FFFFFF;
  color:#FF1D23;
  opacity: 0.5;
}

input.save-btn {  
  background:#FFFFFF;
  border: 3px solid #8bcae7;
  border-radius: 40px;
  color: #8bcae7;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 0.5em 2em;
  position:relative;    
  text-transform: uppercase;
  float: right;
}


input > button:hover {
  opacity: 0.3;
}

input > button {
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

input.search-btn {
  background: url( "../assets/img/search.jpg" ) no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}


input.delete-btn {
  background: url( "../assets/img/x-button.jpg" ) no-repeat;  
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

input.rollback-btn {
  background: url( "../assets/img/back.jpg" ) no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding-top: 3px;  
}

input.save-btn {
  background: url( "../assets/img/save-btn.jpg" ) no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}


input.modiLocation {  
  margin-left: 150px;
}
