{% extends 'main/base.html' %}

{% block content %}
    <header>
        <nav class="lower-nav">
            <button type="button" onclick="location.href='{% url 'main:store_index' store_id=store.pk %}';">신청 플레이리스트</button>
            <button type="button" class="selected" onclick="setURL('#end')">완료 플레이리스트</button>
        </nav>
    </header>

    <div id="main">
        <article>
            {% for s in song %}
                <div class="song-element">
                    <div>{{s.singer}} - {{s.title}}</div>
                    <div>{{s.order_time|date:"Y .m .d"}}</div>
                    <div>
                        <a href="{% url 'main:song_return' song_id=s.pk %}">
                            <button type="button" class="refresh"></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </article>
    </div>

{% endblock %}
