{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/myForm.css' %}">

</head>
<body>

<div class="container">
    <div class = "center">
        <div class = "song-info" >
            {{ song.singer }} - {{ song.title }}
        </div>

        <div class = "center-msg">
            접수완료되었습니다.
        </div>

        <div class = "bottom-msg">
            예상 소요시간은 <b id="setTimevalue">{{ song.store.delay_time }}</b>분 입니다.
        </div>
    </div>

    <div class="row">
        <a href="{% url 'order_song' pk=song.store.pk %}" class = "max-width"><input type="submit"  value="확인"></a>
    </div>
</div>

</body>
</html>
