{% load static %}

<!DOCTYPE html>
<title>Example</title>
    <body>
            
        <header>
            <nav>
                <ul>        
                        <li><a href="#">신청 플레이리스트</a></li>        
                        <li><a href="#end">완료 플레이리스트</a></li>  
                        <li><a href="#empty">EMPTY PAGE</a></li>  
                </ul>
            </nav>
        </header>

        <div id="main">
            <article>            
                <ul>        
                        <li><b>기리보이-호구</b> </li>        
                        <li><b>2018.10.12</b></li>
                        
                        <li>  <input type="button"  class="search-btn"> </li>
                        <li>  <input type="button"  class="delete-btn"> </li>
                </ul>

                <ul>        
                        <li><b>기리보이-호구</b> </li>        
                        <li><b>2018.10.12</b></li>
                        
                        <li>  <input type="button"  class="search-btn"> </li>
                        <li>  <input type="button"  class="delete-btn"> </li>
                </ul>

                <ul>        
                        <li><b>기리보이-호구</b> </li>        
                        <li><b>2018.10.12</b></li>
                        
                        <li>  <input type="button"  class="search-btn"> </li>
                        <li>  <input type="button"  class="delete-btn"> </li>
                </ul>

                <ul>        
                        <li><b>기리보이-호구</b> </li>        
                        <li><b>2018.10.12</b></li>
                        
                        <li>  <input type="button"  class="search-btn"> </li>
                        <li>  <input type="button"  class="delete-btn"> </li>
                </ul>

            </article>   

        <aside>
                <div>
                        예상 소요시간                                
                        <input type="button"  class="save-btn"> 
                        <input type="button"  class="save-btn"> 
                </div>
        </aside>


        </div>
        <footer>
                <input type="button"  class="save-btn"> 

        </footer>
    </body>

