{% extends 'main/index.html' %}

{% block content %}
<!DOCTYPE html>
<title>Example</title>

<body>
    <header>
        <nav class="lower-nav">
            <button type="button" class="selected" onclick="location.href='{% url 'song_list' pk=pk %}';">신청 플레이리스트</button>
            <button type="button" onclick="location.href='{% url 'complete_list' pk=pk %}';">완료 플레이리스트</button>
            <div class="lower-nav-button-group hide">
                <button type="button" class="selected">시간순</button>
                <button type="button">날짜순</button>
                <button type="button">신청순</button>
            </div>
        </nav>
    </header>

    <div id="main">
        <article>
            {% for song in songs %}
                <div class="song-element">
                    <div>{{ song.singer }}-{{ song.title }}</div>
                    <div>{{ song.created_at|date:"Y-m-d H:i:s" }}</div>
                    <div>
                        <a href="{{ url1 }} {{ song.title }}+{{song.singer}}{{url2}}" onclick="location.href='{% url 'play_song' pk=song.id %}';" target="_blank">
                            <button type="button" class="search" ></button>
                        </a>
                        <a href="{% url 'delete_one' pk=song.id %}">
                            <button type="button" class="delete"></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </article>
    </div>
</body>
<footer>
    <a  href="{% url 'delete_all' pk=pk %}">
        <button class="init">초기화</button>
    </a>
</footer>
{% endblock %}