{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SPA</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/index.js' %}" defer></script>
</head>
<body>
  <nav class="upper-nav">
    <div>
      <a href="#" class="nav-text">
        밤과 음악사이
      </a>
{#    <a href="{% url 'set_settings' pk=store.pk %}" class="setimg">#}
      <a href="#settings" class="setimg" id="set_btn">
        <img class="image" src="{% static '/img/settings.png' %}" >
      </a>
    </div>
  </nav>
  <div class="app-root">
      {% block content %}
      {% endblock %}
  </div>

  <div class="modal-background hide">
      <button class="modal-close" id="close_modal"><img src="{% static 'img/close.png'%}"></button>
        <div class="modal">
          <div class="button-wrap">
            <div class="section-title">예상소요시간</div>
            <button type="button" class="est-time text-btn {% if store.delay_time == 30 %}selected{% endif %}" name="delay" value="30">30분</button>
            <button type="button" class="est-time text-btn {% if store.delay_time == 60 %}selected{% endif %}" name="delay" value="60">60분</button>
          </div>
          <div class="button-wrap">
            <div class="section-title">검색 사이트</div>
              {% for a, b in store.TYPE1 %}
                  <button type="button" class="searching-site img-btn {{ b }} {% if store.music_site == a %}selected{% endif %}" name="site" value="{{ a }}"></button>
              {% endfor %}
          </div>
          <div class="button-wrap">
            <div class="section-title">초기화 시간</div>
            <div class="subtitle">신청 플레이리스트</div>
            <button type="button" class="req-init-time text-btn {% if store.period_order == 2 %}selected{% endif %}" name="reset_list" value="2">2시간</button>
            <button type="button" class="req-init-time text-btn {% if store.period_order == 4 %}selected{% endif %}" name="reset_list" value="4">4시간</button>
            <button type="button" class="req-init-time text-btn {% if store.period_order == 6 %}selected{% endif %}" name="reset_list" value="6">6시간</button>

            <div class="subtitle">완료 플레이리스트</div>
            <button type="button" class="finished-init-time text-btn {% if store.period_complete == 2 %}selected{% endif %}" name="played" value="2">2시간</button>
            <button type="button" class="finished-init-time text-btn {% if store.period_complete == 4 %}selected{% endif %}" name="played" value="4">4시간</button>
            <button type="button" class="finished-init-time text-btn {% if store.period_complete == 6 %}selected{% endif %}" name="played" value="6">6시간</button>
          </div>
          <button id = "fake_save" class="save" type="submit">저 &nbsp;장</button>
          <form method="POST" action="{% url 'set_settings' pk %}">
              {% csrf_token %}
              <input type="hidden" id="est_time" name="delay_time" value="{{ store.delay_time }}">
              <input type="hidden" id="searching_site" name="music_site" value="{{ store.music_site }}">
              <input type="hidden" id="req_init_time" name="period_order" value="{{ store.period_order }}">
              <input type="hidden" id="finished_init_time" name="period_complete" value="{{ store.period_complete }}">
              <button class="save" type="submit">저 &nbsp;장</button>
          </form>
        </div>

  </div>
</body>
<footer>
  {% block footer %}
  {% endblock %}
</footer>
</html>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>
<script>
  function setURL(url){
      location.href = url
  }

  let estTimeClass = document.getElementsByClassName("est-time");

  let estTimeBtn = function() {
      let attribute = this.getAttribute("value");
      document.getElementById('est_time').value = attribute;
  };

  for (let i = 0; i < estTimeClass.length; i++) {
      estTimeClass[i].addEventListener('click', estTimeBtn, false);
  }


  let searchingClass = document.getElementsByClassName("searching-site");

  let searchingBtn = function() {
      let attribute = this.getAttribute("value");
      document.getElementById('searching_site').value = attribute;
  };

  for (let i = 0; i < searchingClass.length; i++) {
      searchingClass[i].addEventListener('click', searchingBtn, false);
  }


  let reqClass = document.getElementsByClassName("req-init-time");

  let reqBtn = function() {
      let attribute = this.getAttribute("value");
      document.getElementById('req_init_time').value = attribute;
  };

  for (let i = 0; i < reqClass.length; i++) {
      reqClass[i].addEventListener('click', reqBtn, false);
  }

  let finishClass = document.getElementsByClassName("finished-init-time");

  let finishBtn = function() {
      let attribute = this.getAttribute("value");
      document.getElementById('finished_init_time').value = attribute;
  };

  for (let i = 0; i < finishClass.length; i++) {
      finishClass[i].addEventListener('click', finishBtn, false);
  }


  $('.est-time').click(function(){
      $('.est-time').removeClass('selected');
      $(this).addClass('selected');
  })

  $('.searching-site').click(function(){
      $('.searching-site').removeClass('selected');
      $(this).addClass('selected');
  })

  $('.req-init-time').click(function(){
      $('.req-init-time').removeClass('selected');
      $(this).addClass('selected');
  })

  $('.finished-init-time').click(function(){
      $('.finished-init-time').removeClass('selected');
      $(this).addClass('selected');
  })



  $('#set_btn').click(function(){
      $('.modal-background').removeClass('hide')
  })
  $('#close_modal').click(function(){
      $('.modal-background').addClass('hide')
  })

  $('#fake_save').click(function(){
      $("#setting_form").submit()
  });

</script>
