{% extends 'main/base.html' %}

{% block content %}
    <a class="btn btn-default" href="{% url 'order_song' pk=pk %}">노래 신청</a>
    <a class="btn btn-default" href="{% url 'delete_all' pk=pk %}">전체 삭제</a>
    <a class="btn btn-default" href="{% url 'set_settings' pk=pk %}">설정 변경</a> <br><br>
    <a class="btn btn-default" href="{% url 'song_list' pk=pk %}">신청리스트</a>
    <a class="btn btn-default" href="{% url 'complete_list' pk=pk %}">완료리스트</a>
    <a class="btn btn-default" href="{% url 'delete_list' pk=pk %}">삭제리스트</a>
    {% for song in songs %}
        <div class="song">
            <h4>
                <#{{ song.id }}> {{ song.created_at }} <br>
                제목: {{ song.title }} <br>
                가수: {{ song.singer }} <br>
                메시지: {{ song.message }} <br>
                실행여부: {{ song.is_played }} <br>
                삭제여부: {{ song.is_deleted }} <br>
                <a class="btn btn-default" href="{{ url1 }} {{ song.title }}+{{song.singer}}{{url2}}" onclick="location.href='{% url 'play_song' pk=song.id %}';" target="_blank">플레이</a>
                <a class="btn btn-default" href="{% url 'delete_one' pk=song.id %}">삭제</a>
            </h4>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
